<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>회원가입 페이지입니다! 영어로 입력해주세요!</h1>
    <p>E-MAIL</p>
    <p><input type="text" id="email" name="email"></p>
    <p>PASSWORD</p>
    <p><input type="password" id="password" name="password"></p>
    <p>NAME</p>
    <p><input type="text" id="name" name="name"></p>
    <p>JOB</p>
    <p><input type="text" id="job" name="job"></p>
    <input type="submit" id="signup" name="signup" value="제출">
    <input type="button" id="back" name="back" value="뒤로" onClick="window.location.href='/'">
</body>

<!--jQuery 3.5.1-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<!--Javascript-->
<script>

</script>
</html>