<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>회원가입 페이지입니다! 영어로 입력해주세요!</h1>
    <p>E-MAIL</p>
    <p><input type="text" id="email" name="email"></p>
    <p>PASSWORD</p>
    <p><input type="password" id="password" name="password"></p>
    <p>NAME</p>
    <p><input type="text" id="name" name="name"></p>
    <p>JOB</p>
    <p><input type="text" id="job" name="job"></p>
    <input type="submit" id="signup" name="signup" value="제출">
    <input type="button" id="back" name="back" value="뒤로" onClick="window.location.href='/'">
</body>

<!--jQuery 3.5.1-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<!--Javascript-->
<script>
    // 회원가입 클릭시 발생하는 이벤트 처리
    $("#signup").on("click", function() {
        var userEmail = $("#email").val()
        var userPassword = $("#password").val()
        var userName = $("#name").val()
        var userJob = $("#job").val()
        $.ajax({
            url : 'signup',
            type : 'POST',
            data : {
                email : userEmail,
                password : userPassword,
                name : userName,
                job : userJob
            },
            success:function(result) {
                if(result=='1') {
                    alert('회원가입 완료')
                    window.location.href = "/"
                }
                else if(result=='2')
                    alert('회원가입 양식 오류')
                else if(result=='3')
                    alert('이미 회원가입된 이메일입니다')
            },
            error:function(result) {
                alert('통신 오류')
            }
        })
    })
</script>
</html>