<!DOCTYPE html>
<head>
    <title>Post Page</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>제목</h1>
    <p><input type="text" id="title" name="title" placeholder="제목을 써주세요." style="width:500px;height:30px;font-size:20px;"></p>
    <h1>내용</h1>
    <p><textarea id="contents" name="contents" placeholder="내용을 써주세요." cols="50" rows="20" style="font-size:20px;"></textarea></p>
    <input type="submit" id="writeBtn" name="writeBtn" value="글 쓰기">
    <input type="button" id="back" name="back" value="돌아가기">
</body>

<!--jQuery 3.5.1-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<!--Javascript-->
<script>
    // 글 쓰기 버튼 클릭시 발생하는 이벤트 처리
    $("#writeBtn").on("click", function() {
        var writingTitle = $("#title").val()
        var writingContents = $("#contents").val()
        $.ajax({
            url : 'write',
            type : 'POST',
            data : {
                title : writingTitle,
                contents : writingContents
            },
            success:function(result) {
                if(result=='1') {
                    alert('글이 성공적으로 저장되었습니다')
                    window.location.href = 'main'
                }
            },
            // 에러에 따른 에러 내용 alert
            error:function(jqXHR, exception) {
                var msg = '';
                if (jqXHR.status === 0) {
                    msg = 'Not connected.\n Verify Network.';
                } else if (jqXHR.status == 404) {
                    msg = '[404] Requested page not found.';
                } else if (jqXHR.status == 500) {
                    msg = '[500] Internal Server Error.';
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                } else {
                    msg = 'Uncaught Error.\n' + jqXHR.responseText;
                } alert(msg)
            }
        })
    })
    $("#back").on("click", function() {
        window.location.href='main'
    })
</script>